p {
    font-family: 'Arial', sans-serif;
}
    
.alert alert-info {
    background-color: #E23737 !important;
}

pre {
    background-color: #f4f4f4;
    font-family: 'Courier New', Courier, monospace;
  }